@import '../../index';

.hero {
  @include medium;
  color: $primary-color;
  .title {
    font-size: 3.4em;
    line-height: 4.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }
  .subtitle {
    margin-top: 0px;
    font-size: 1.2em;
    max-width: 40rem;
  }
}

@media (max-width: 768px) {
  .hero {
    .title {
      font-size: 29px;
      line-height: 38px;
    }
    .subtitle {
      font-size: 19px;
      line-height: 26px;
    }
  }
}

.filter {
  @include medium;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0px 0px 6px rgba($color: #111, $alpha: 0.16);

  .title {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: normal;
    color: $primary-color;
    margin-bottom: 0.8rem;
  }

  .container {
    .search {
      position: relative;
      max-width: 21.2rem;
      input {
        @include medium;
        width: 100%;
        color: #82c5b2;
        font-size: 17px;
        outline: none;
        border: 2px solid #82c5b2;
        border-radius: 5px;
        padding: 15px 8px;
      }
      input::placeholder {
        opacity: 100%;
      }
      i {
        color: #82c5b2;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.cardList {
  @include medium;
  color: $primary-color;
  .container {
    .title {
      font-weight: normal;
      font-size: 18px;
    }

    .divider {
      width: 100%;
      display: block;
      background-color: $secondary-color;
      height: 4px;
      margin-bottom: 2rem;
    }
  }
}
