@import-normalize;

/* -------------------------------------------------------------------------- */
/*                                    fonts                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'OmnesLight';
  src: url('./assets/fonts/Omnes/Omnes Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OmnesRegular';
  src: url('./assets/fonts/Omnes/Omnes.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OmnesMedium';
  src: url('./assets/fonts/Omnes/Omnes Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OmnesBold';
  src: url('./assets/fonts/Omnes/Omnes Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@mixin light {
  font-family: 'OmnesLight', sans-serif;
}
@mixin regular {
  font-family: 'OmnesRegular', sans-serif;
}
@mixin medium {
  font-family: 'OmnesMedium', sans-serif;
}
@mixin bold {
  font-family: 'OmnesBold', sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                   colors                                   */
/* -------------------------------------------------------------------------- */
$primary-color: #273044;
$secondary-color: #ff4560;
@mixin gradient-purple {
  background-image: linear-gradient(#006ca1, #662483);
}
@mixin gradient-green {
  background-image: linear-gradient(#82c5b2, #ced836);
}
@mixin gradient-orange {
  background-image: linear-gradient(#ec840b, #961d66);
}
@mixin gradient-blue {
  background-image: linear-gradient(#0ca9e0, #006ca1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/Background.png');
  background-size: cover;
  background-color: darken($color: #f4f4f4, $amount: 8%);
  min-width: 20rem;
}

.container {
  width: 65%;
  margin-inline: auto;
}

@media (max-width: 768px) {
  body {
    background-image: none;
  }

  .container {
    width: 90%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
